:root
{
    --corFundo1: #e8dcc0;
    --corFundo2:  #d6c7a8;
    --corLetra1: #1c1c1c;

    --corErro: #c0392b;
    --corOK: #27ae60;

    --fonte_principal:'MiSans', sans-serif;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body
{
    font-family: var(--fonte_principal);
    background-color: var(--corFundo1);
    color: var(--corLetra1);
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

/* Cabeçario da pagina */
header 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin: 0 auto;

    max-width: 1000px;
} 

.logo
{
    display: flex;
    align-items: center;
    gap: clamp(1rem, 5vw, 4rem);
} 

@media (max-width: 768px)
{
    header
    {
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
    }

    .logo
    {
        flex-direction: row;
        gap: 1rem;
    }
}

.logo h1
{
    font-size: clamp(1.8rem, 4vw, 3rem);

    text-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

.logo img
{
    width: clamp(40px, 10vw, 70px);
    margin-left: clamp(1rem, 5vw, 5rem);
    height: auto;

    transition: all 0.2s ease;
}

.logo img:hover
{
    transform: scale(0.9);
}



/* Erro */
.erro-msg
{
    color:var(--corErro);
    font-size: 0.85rem;
}

/* OK */
.certo-msg
{
    color:var(--corOK);
    font-size: 0.85rem;
    
}

/* Form */
form
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
    max-width: 500px;
    margin: 2rem auto;
}



/* Botão */
button
{
    padding: 0.7rem 2rem;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease;
}

button:disabled
{
    opacity: 0.5;
    cursor: not-allowed;
}

button:enabled
{
    opacity: 1;
    background-color: var(--corOK);
    color: var(--corLetra1);
}

button:hover
{
    transform: scale(1.05);
}



/* Mais */
.nome, .email 
{
    display: grid;
    grid-template-columns: 140px 1fr;
    align-items: center;
    gap: 0.5rem 1rem;
}

.erro-msg, .certo-msg
{
    grid-column: 2;
}

input 
{
    padding: 0.6rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    width: 100%;

    transition: all 0.2s ease;
}

input:focus 
{
    outline: none;
    border-color: #3498db;
}

input.success 
{
    border-color: var(--corOK);
}

input.error 
{
    border-color: var(--corErro);
}


/* Footer */
footer
{
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    margin-top: auto;
}
